*.o
*~
.qmake.stash
Makefile
libgeotracker/libgeotracker.a
look-angle-calculator/look-angle-calculator
moc_*.cpp
moc_predefs.h
qrc_*.cpp
target-tracker/target-tracker
tests/target_wrapper.sh
tests/tests
